body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: -1px;
  margin-bottom: 3.7rem;
  margin-top: 1.6rem;
  font-weight: 900;
  color: #12d290;
  /* text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3); */
  text-shadow: 0 -3px 0 #333, 0 6px 8px rgba(0, 0, 0, 0.4),
    0 9px 10px rgba(0, 0, 0, 0.15), 0 30px 10px rgba(0, 0, 0, 0.18),
    0 15px 10px rgba(0, 0, 0, 0.21);
}

h1 img {
  width: 5%;
  vertical-align: middle;
  /* mix-blend-mode: multiply; */
  object-fit: contain;
  aspect-ratio: 4/3;
  margin-left: -12px;
  margin-bottom: 6px;
}

#message-el {
  font-style: italic;
  font-size: 1.65rem;
}

p {
  font-size: 1.2rem;
}

#sum-el {
  margin-bottom: 2rem;
}

button {
  width: 150px;
  /* color: #016f32; */
  /* color: #373f51; */
  /* color: #f6f6f6f6; */
  /* background: goldenrod; */
  /* background: #1b1b1e; */
  /* background: #01111c;
  background: #a37774; */
  background: #eca72c;
  color: #f6f6f699;

  padding-block: 0.4rem;

  border: none;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;

  /* Column Direction Btns  */
  display: block;
  margin: 0.8rem auto 0.5rem auto;
  /* Animation  */
  transition: color 0.2s ease-in-out 0.1s;
}

button:hover {
  color: #f6f6f6f6;
}

.black-Jack-cards-left,
.black-Jack-cards-right {
  mix-blend-mode: multiply;
}

.black-Jack-cards-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.black-Jack-cards-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
